.details {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
}

.details p {
  margin-top: 10px;
}

.details ul {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-top: 0;
}

.details li {
  list-style-type: none;
  margin-right: 10px;
  color: #777;
}

.details li::after {
  content: ",";
}

.details li:last-child::after {
  content: ".";
}

p.method {
  text-align: left;
  line-height: 1.5em;
  margin-top: 20px;
}

/* dark mode */
.details.dark {
  background: #555;
  color: #e4e4e4;
}

.details.dark li {
  color: #999;
}
